.metric{
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 20px;
    height: 35px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
}

.chart_container{
	float: left;
	padding: 0 5px;
	margin: 2px;
}

#blocker {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blocker img
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -175px;
}

table td:first-child
{
	text-align: center;
}

#msg_container
{
	display: none;
    border: 1px solid red;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 15px;
    color: red;
}

#msg_container li
{
	padding: 0;
}
