<html>
	<head>
   	<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
	<title>{% block page_title %} Pipture {% endblock %}</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}json2.js"></script>
 	</head>

	<body>
		{% block authorization %} {% endblock %}
		{% block content %}       {% endblock %}
		{% block JS%} {% endblock %}
	</body>
</html>