<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=400" />
    <title>PIPTURE VIDEO MESSAGE</title>
    <link rel="stylesheet" type="text/css" media="screen,print" href="{{MEDIA_URL}}webpage_files/mobilepage.css" />
    <script src="{{MEDIA_URL}}date.js"></script>
    <script src="{{MEDIA_URL}}jquery.js"></script>
    <!--[if lt IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='{{MEDIA_URL}}mobilepage_files/mobilepageIE.css'/><![endif]-->
    <!--[if gte IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='Media/IE8.css'/><![endif]-->
    <!--<script type="text/javascript" src="{{MEDIA_URL}}webpage_files/iWebSite.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}webpage_files/iWebImage.js"></script>-->
    <style>
      .download_app_link .download_button
      {
        background-image:url({{MEDIA_URL}}webpage_files/Download-button-mobile.png);
      }
      .download_app_link:active .download_button
      {
        background-image:url({{MEDIA_URL}}webpage_files/Download-button-rollover-mobile.png);
      }
    </style>
  </head>
  <body style="background: rgb(0, 0, 0); margin: 0pt; ">
    <div style="text-align: center; ">
      <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 0px; overflow: hidden; position: relative; word-wrap: break-word;  background: rgb(0, 0, 0); text-align: left; width: 400px; " id="body_content">
        <div style="float: left; margin-left: 0px; position: relative; width: 400px; z-index: 0; " id="nav_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div style="clear: both; height: 0px; line-height: 0px; " class="spacer"> </div>
        </div>
        <div style="float: left; height: 0px; line-height: 0px; margin-left: 0px; position: relative; width: 400px; z-index: 10; " id="header_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
        <div style="margin-left: 0px; position: relative; width: 400px; z-index: 5; " id="body_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          
          <div id="id3" style="height: 75px; left: -4px; position: absolute; top: 60px; width: 403px; z-index: 1; " class="style_SkipStroke_2 shape-with-text">
            <div class="text-content graphic_shape_layout_style_default_External_403_75" style="padding: 0px; ">
              <div class="graphic_shape_layout_style_default"></div>
            </div>
          </div>

          <div id="id4" style="height: 56px; left: 20px; position: absolute; top: 75px; width: 249px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_249_56" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style"><span class="style">From</span> <span class="style_1">{{from}}</span><br /></p>
                <p id="sentdate" style="padding-bottom: 0pt; " class="paragraph_style_1"></p>
              </div>
            </div>
          </div>

		

          <div style="height: 30px; width: 250px;  height: 30px; left: 149px; position: absolute; top: 17px; width: 250px; z-index: 1; " class="tinyText">
            <a  class="download_app_link" href="http://www.pipture.com/iphoneapp/">
              <span class="download_button" />
            </a>
          </div>
{% comment %}
          <div id="id7" style="height: 24px; left: 160px; position: absolute; top: 20px; width: 227px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_227_24" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
             	<a href="http://www.pipture.com/iphoneapp/">
                	<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_5">DOWNLOAD THE FREE iPHONE APP</p>
                </a>
              </div>
            </div>
          </div>
{% endcomment %}

          <div style="height: 35px; width: 105px;  height: 35px; left: 20px; position: absolute; top: 14px; width: 105px; z-index: 1; " class="tinyText style_SkipStroke_4 stroke_0">
          	<a href="http://www.pipture.com">
            	<img src="{{MEDIA_URL}}webpage_files/logowhite-innershadows30.png" alt="" style="border: none; height: 35px; width: 105px; " />
            </a>
          </div>
                   
          <div id="id9" style="height: 8px; left: -39px; position: absolute; top: 825px; width: 37px; z-index: 1; " class="style_SkipStroke_6 shape-with-text">
            <div class="text-content graphic_shape_layout_style_default_External_37_8" style="padding: 0px; ">
              <div class="graphic_shape_layout_style_default"></div>
            </div>
          </div>

          

          

		<div style="width: 403px;  height: auto; position: absolute; top: 125px; z-index: 1;" class="tinyText">
		  	<table cellpadding="0" cellspacing="0" class="noborder">
		  		{% if message_blocked %}
		  			<tr><td width="403" height="44">
			          <div id="id9" style="height: 44px; left: 0px; z-index: 1; " class="style_SkipStroke_4m shape-with-text">
			            <div class="text-content graphic_textbox_layout_style_default_External_399_44" style="padding: 0px; ">
			              <div class="graphic_textbox_layout_style_default">
			                <p style="padding-top: 0pt; " class="paragraph_style_8m">VIDEO NO LONGER ACCESSIBLE<br /></p>
			                <p style="padding-bottom: 0pt; " class="paragraph_style_9m">It has reached the maximum amount of views</p>
			              </div>
			            </div>
			          </div>
			        </td></tr>
			       {% if not message_empty %}
			       	<tr><td width="403" height="30"></td></tr>
			       {% endif %}
			        <tr><td width="403" height="600">
			        	<img src="{{image_url}}" width="400" height="600" alt="" style="height: 600px; left: 0px; width: 400px;">
			        </td></tr>
			    {% else %}
			       {% if not message_empty %}
			       	<tr><td width="403" height="30"></td></tr>
			       {% endif %}
			    	<tr><td width="403" height="600">
			        	<video id="video" autobuffer width="400" height="600" poster="{{image_url}}" controls="controls">
		              		<source src="{{ video_url }}">
		              	</video>
		            </td></tr>
			    {% endif %}
			    <tr><td width="403" height="54">
				    <div id="id11" style="height: 54px; width: 403px; z-index: 1; text-align: right;" class="style_SkipStroke_3 shape-with-text">
			            <div class="text-content graphic_textbox_layout_style_default_External_121_54" style="padding: 0px; ">
			              <div class="graphic_textbox_layout_style_default">
			                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_7">{{views_count}}</p>
			              </div>
			            </div>
			        </div>
       			</td></tr>
       			<tr><td width="403" height="27">
       				<div id="id10" style="height: 27px; width: 402px; z-index: 1; text-align: right;" class="style_SkipStroke_3 shape-with-text">
			            <div class="text-content graphic_textbox_layout_style_default_External_402_27" style="padding: 0px; ">
			              <div class="graphic_textbox_layout_style_default">
			                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_6">At {{views_limit}} views, this video will have reached its maximum views.</p>
			              </div>
			            </div>
		          	</div>
		        </td></tr>
		        {% if show_info %}
		          <tr><td width="403" height="230">
		          	<div style="width: 403px;  height: auto; z-index: 1;" class="tinyText">
		  				<table cellpadding="0" cellspacing="0" class="noborder">
		  					<tr><td width="403" height="230">
					  			<div id="id1" style="height: 230px; width: 403px; z-index: 1; " class="style_SkipStroke shape-with-text">
						            <div class="text-content graphic_shape_layout_style_default_External_403_230" style="padding: 0px; ">
						              <div class="graphic_shape_layout_style_default"></div>
						            </div>
						          </div>
						          
						          <div style="height: 200px; width: 380px;  left: 9px; top: -215px; z-index: 1; position: relative; " class="tinyText">
						            <div style="position: relative; width: 380px; ">
						              <img src="{{MEDIA_URL}}webpage_files/shapeimage_1.png" alt="" style="height: 200px; width: 380px; " />
						            </div>
						          </div>
						
								  <div style="height: 150px; width: 89px;  height: 150px; left: 26px; position: relative; top: -390px; width: 89px; z-index: 1; " class="tinyText">
						            <div style="position: relative; width: 89px; ">
						              <img src="{{ cover_pic }}" alt="" style="height: 150px; left: 0px; position: relative; top: 0px; width: 89px; " />
						            </div>
						          </div>
						
						          <div id="id5" style="height: 108px; left: 132px; position: relative; top: -500px; width: 205px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
						            <div class="text-content style_External_205_108" style="padding: 0px; ">
						              <div class="style_2">
						                <p style="padding-top: 0pt; " class="paragraph_style_2">About the video:<br /></p>
						                <p class="paragraph_style_3">{{ title }}<br /></p>
						                <p class="paragraph_style_3">{{ seriesname }}<br /></p>
						                <p class="paragraph_style_3">{{ info_line }} <br /></p>
						                <p style="padding-bottom: 0pt; " class="paragraph_style_3">{{ released_date }}</p>
						              </div>
						            </div>
						          </div>
						
						          <div id="id6" style="height: 58px; left: 132px; position: relative; top: -650px; width: 215px; z-index: 1; " class="style_SkipStroke_3 shape-with-text">
						            <div class="text-content graphic_textbox_layout_style_default_External_215_58" style="padding: 0px; ">
						              <div class="graphic_textbox_layout_style_default">
						                <p style="padding-top: 0pt; " class="paragraph_style_4">Did you see the series {{seriesname}} on
						                	<a href="http://www.pipture.com/iphoneapp/"> 
						                		<span class="style_3">Pipture</span></a>?  <br />
						                </p>
						                	
						                <p style="padding-bottom: 0pt; " class="paragraph_style_4">{{ disclaimer }}</p>
						              </div>
						            </div>
						          </div>
						
						          
						         </td></tr>
						    </table>
						</div>
					</td></tr>
		       	{% endif %}
		        
        	</table>
        </div>

		{% if not message_empty %}
			{% if message_blocked %}
			<div style="width: 403px;  height: auto; position: absolute; top: 170px; z-index: 1;" class="tinyText">
			{% else %}
			<div style="width: 403px;  height: auto; position: absolute; top: 125px; z-index: 1;" class="tinyText">
			{% endif %}
				<table cellpadding="0" cellspacing="0" class="noborder">	
			  		<tr><td width="403" height="10" background="{{MEDIA_URL}}webpage_files/shapeimage_8m_top.png">
			  		<tr><td width="403" background="{{MEDIA_URL}}webpage_files/shapeimage_8m_middle.png" >
			  			{% autoescape off %}
	                		<p class="Body">{{text_2}}</p>
	                	{% endautoescape %}
			  		</td></tr>
			  		<tr><td width="403" height="57" background="{{MEDIA_URL}}webpage_files/shapeimage_8m_bottom.png">
		  		</table>
			</div>
       {% endif %}
          
          <div style="height: 1200px; line-height: 1200px; " class="spacer"> </div>
        </div>
        <div style="height: 0px; line-height: 0px; margin-left: 0px; position: relative; width: 400px; z-index: 15; " id="footer_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
    	    	
    	function onLoadDoc() {
    		
 			var video = document.getElementById('video');
 			if (video) {
				video.addEventListener('click',function(){
	  				video.play();
				},false);
			}
		
			var d1 = new Date({{sent_date}}*1000);
			dstr = d1.toString('MMMM dd') + ' at ' + d1.toString('hh:mmtt');
			var sentdate = document.getElementById('sentdate');
			sentdate.innerHTML = dstr;   
		}
     	window.onload = onLoadDoc;
     	
    </script>
    
  </body>
</html>