<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=640">
    <meta property="og:image" content="{{image_url}}">
    {% if seo %}
    	<meta name="keywords" content="{{video.Keywords}}">
    {% endif %}
    <title>PIPTURE VIDEO MESSAGE</title>

	<script src="{{ STATIC_URL }}date.js"></script>
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}mediaelement-and-player.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}mediaelementplayer.css" />


    <link rel="stylesheet" type="text/css" media="screen,print" href="{{ STATIC_URL }}css/all.css">
    <!--[if lt IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='{{ STATIC_URL }}css/all.ie.css'/><![endif]-->
    <!--[if gte IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='{{ STATIC_URL }}css/all.ie8.css'/><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}webpage_files/iWebSite.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}webpage_files/iWebImage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}webpage_files/webpage.js"></script>
    <script type="text/javascript">
    	var production = {{ is_production }};
    	var video_name = '{{ video.Title }}';
    	var album_id   = '{{ video.AlbumId.AlbumId }}';
    	var series_id  = '{{ video.AlbumId.SeriesId.SeriesId }}';
    	
    	{% ifequal 'Episodes' video_type %}
    		var video_id = '{{ video.EpisodeId }}';
    	{% else %}
    		var video_id = '{{ video.TrailerId }}';
    	{% endifequal %}
    	
    	__status_list = { 'N':'NotForSale', 'B':'BuyAlbum', 'P':'AlbumPass' }
    	album_purchase_status = __status_list['{{ video.AlbumId.PurchaseStatus }}']
    </script>
	<script src="{{ STATIC_URL }}ga.js"></script>
  </head>

  <body class="page">
      <div class="page__inner" id="body_content">

        <div class="header cf">
          <div class="logo">
              <a href="http://www.pipture.com">
                <img src="{{ STATIC_URL }}webpage_files/logowhite-innershadows30.png" alt="" style="border: medium none; height: 35px; width: 105px;">
              </a>
          </div>
          <div class="iphone-app">
            <a href="http://www.pipture.com/iphoneapp/">
              <span class="download-button"></span>
            </a>
            App for<br />iPhone
          </div>
        </div>

        <div class="content">

          <div class="video">

            {% if message_blocked %}
              <img src="{{image_url}}" width="400" height="600" alt="" style="height: 600px; left: 0px; position: absolute; top: 0px; width: 400px;">
            {% else %}
              <video id="video" preload="none" width="400" height="600" poster="{{image_url}}" fullscreen="false">
                <source type="video/mp4" src="{{video_url}}" />
                <object width="400" height="600" type="application/x-shockwave-flash" data="{{ STATIC_URL }}flashmediaelement.swf">
                    <param name="movie" value="{{ STATIC_URL }}flashmediaelement.swf" />
                    <param name="flashvars" value="controls=true&file={{video_url}}" />
                  </object>
              </video>
            {% endif %}

          </div>

          <div class="message">

            <div class="greeting">
              <img src="{{ STATIC_URL }}img/balloon.png" alt="" width="38" class="greeting__balloon" />
              HI, YOU’VE RECEIVED A MESSAGE VIA <span class="greeting__app-name">PIPTURE APP FOR iPHONE</span>
            </div>

            <div class="message-meta">
              <div class="message-sender">From <span class="message-sender__name">{{from}}</span></div>
              <span id="sentdate" class="message-date"></span>
            </div>

            {% if message_blocked %}
              <div class="message-blocked">
                <h3>VIDEO AND MESSAGE NO LONGER ACCESSIBLE</h3>
                <p>It has reached the maximum amount of views</p>
              </div>
            {% endif %}

            <div class="message-text">
              {% if not message_empty and not message_blocked %}
                {% autoescape off %}
                  <p>{{text_2}}</p>
                {% endautoescape %}
              {% endif %}
            </div>

            <div class="views">
              <div class="views__count">
                <span id="viewcounter">{{views_count}}</span>
              </div>
                <p>At {{views_limit}} views, this video will have reached its maximum views.</p>
            </div>

            {% if views_limit == 'infinite' %}
                <div class="like-buttons">
                  {% include "like_buttons.html" %}
                </div>
            {% endif %}
            
            {% if show_info %}
              <div class="about-video">
                <div class="about-video__cover">
                  <img src="{{ cover_pic }}" alt="" height="150" />
                </div>
                  <p>Did you see the series {{seriesname}} on <a href="http://www.pipture.com/iphoneapp/">Pipture</a>?</p>
                  <p>{{ disclaimer }}</p>

                <div class="video-meta">
                  <h3>About the video:</h3>
                  <p>{{ title }}</p>
                  <p>{{ seriesname }}</p>
                  <p>{{ info_line }}</p>
                  <p>{{ released_date }}</p>
                </div>

              </div>
            {% endif %}

          </div>

        </div>

    </div>

    <script type="text/javascript">
      jQuery(document).ready(function(){
      	var flashEnabled = !!(navigator.mimeTypes["application/x-shockwave-flash"] || window.ActiveXObject && new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
      	if (!flashEnabled) alert('You should install Adobe Flash Player to watch the video. Folow the link below:\n\nhttp://www.adobe.com/software/flash/about/');

        jQuery('video,audio').mediaelementplayer({
          mode: navigator.userAgent.match('Chrom') ? 'shim' : 'auto',
          videoWidth: 400,
          videoHeight: 600,
          features: ['playpause','progress','volume'],
          });

        var d1 = new Date({{sent_date}}*1000);
        dstr = d1.toString('MMMM dd') + ' at ' + d1.toString('hh:mmtt');
        jQuery("#sentdate").text(dstr);
      });
    </script>

  </body>
</html>


